<!-- Header -->
<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
  <a href="#" class="navbar-brand">{{title}}</a> 
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="coffeeList" class="nav-link">Coffee List</a>
    </li>
  </div>
</nav>

<!-- Body -->
<div class="app-body">
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="footer-wrappr p-2 fixed-bottom bg-dark text-white">      
    <div class="row align-items-center d-flex justify-content-center"> 
      Copyright &copy; Daniel Song  
    </div> 
  </div>
</footer>