<main class="main-page row justify-content-center text-left">
  <div class="person-info">
    <h1 class="text-warning">Daniel Song</h1>
    <p class="text-white">Web Application Developer</p>   
    <div class="img-group">
      <img class="main-img1" src="../../../assets/images/visual_spoon.png" alt="">
      <img class="main-img2" src="../../../assets/images/visual_cup2.png" alt="">
      <img class="main-img3" src="../../../assets/images/visual_cup1.png" alt="">
    </div>     
  </div> 
</main>
